@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="app-shell">
    <Sidebar />

    <main class="app-shell__main">
        <article class="app-shell__content" @key="NavigationManager.Uri">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
